# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "a492873797ea660dcb0de6d95d8d5bac"
name = "whatsapp-mern-app"
application_url = "https://shopify-app-with-mern.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
    "https://shopify-app-with-mern.onrender.com/auth/callback",
    "https://shopify-app-with-mern.onrender.com/auth/shopify/callback",
    "https://shopify-app-with-mern.onrender.com/api/auth/callback"
]
